*{
    background-color: #1c1c1c;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    /* border: 1px solid red; */
}

pre{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

figure{
    text-align: center;
    /* display: inline-block; */
    float: left;
}

figcaption{
    font-style: oblique;
    color: #ffd700;
}

header{
    padding-top: 40px;
}

#logoGammaRay{
    padding-left: 50px;
}


nav{
    display: inline-block;
    padding-left: 330px;
}

#listaMenu {
    display: inline-block;
    font-size: 17px;
    text-decoration: none;
    padding: 0px 10px;
    font-style: oblique;
    font-weight: bold;
}

#listaMenu a{
    text-decoration: none;
}






h2{
    font-size: 18px;
}

footer p{
    font-size: 14px;
    text-align: center;
    color: #ffd700;
}

#Introduccion{
    font-size: 17px;
}

.primerP{
    display: inline-block;
    /* float: left; */
}



#tituloPrincipalC{
    text-align: center;
    font-size: 35px;
}

.tituloCancion{
    text-align: center;
    font-size: 22px;
    color: #ffd700;
}

.contenidoCancion{
    text-align: center;
    font-size: 19px;
    padding-bottom: 12px;
}
