*{
    background-color:#333;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    /* border: 1px solid red; */
}

h2{
    font-size: 18px;
}

header{
    padding-top: 40px;
}

footer p{
    font-size: 14px;
    text-align: center;
    color: #ffd700;
    padding-bottom: 15px;
}

/* Estilos para las fotos  */

figure{
    text-align: center;
    /* display: inline-block; */
    float: right;
}

figcaption{
    font-style: oblique;
    color: #ffd700;
}

figure img{
    padding-bottom: 10px;
}

/* Logo */

#logoGammaRay{
    padding-left: 50px;
}

/* Todos sobre la barra de navegacion de toda la web, ya que los demas "heredan"los estilos */

nav{
    display: inline-block;
    padding-left: 370px;
}

#listaMenu {
    display: inline-block;
    /* text-decoration: none; */
    padding: 0px 10px;
    /* font-size: 21px;
    font-style: oblique;
    font-weight: bold;
    color: #ffd700; */
}

#listaMenu a{
    text-decoration: none;

    font-size: 21px;
    font-style: oblique;
    font-weight: bold;
    color: #ffd700;
}

#usuario{
    display: inline-block;
    color: red;
    /* text-decoration: none; */
}

ul{
    list-style: none;
}

/* 
.mp{
    margin: 0px auto;
}
.musica{
    width: 200 px;
    margin: 0px auto;
} */

/* Son la info de la banda Gamma Ray */

pre{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.espacioFinal{
    padding-bottom: 25px;
}

#Introduccion{
    font-size: 17px;
}


/*
    Estilos propios de letrasCanciones.html
*/

#tituloPrincipalC{
    text-align: center;
    font-size: 35px;
    
}

.tituloCancion{
    text-align: center;
    font-size: 22px;
    color: #ffd700;
}

.contenidoCancion{
    text-align: center;
    font-size: 19px;
    padding-bottom: 12px;
}






.container-correo *{
    /* background-color: #1c1c1c; */
    /* display: block; */
    background-color: #1c1c1c;
    /* background-color: black; */
}

#item-form{
    /* padding: 200px; */
    margin: 70px 250px;
    padding: 20px 0px;
}   



.container-correo input, #contenido{
    display: block;
    margin: 20px 90px;
}

#label{
    padding-left: 30px;
    /* display: inline; */
}



/* GALERIA ENCONTRADA EN GOOGLE xd
    Fuente : http://w3.unpocodetodo.info/css3/galeria-de-imagenes-css1.php/* 
*/

  
  .galeria {
    height: calc( var(--h) + 3em);
    width: var(--w);
    margin:1em auto;
    /* border: 1px solid #555; */
    position: relative;  
  }
  
  .galeria img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 3s;
  }
  
  .galeria input[type=radio] {
    position: relative;
    bottom: calc(-1 * var(--h) - 1.5em);
    left: .5em;
  }
  
  .galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
    opacity: 1;
  }
  
  .galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
    opacity: 1;
  }
  
  .galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
    opacity: 1;
  }
  
  .galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
    opacity: 1;
  }
  
  .galeria input[type=radio]:nth-of-type(5):checked ~ img:nth-of-type(5) {
    opacity: 1;
  }

  .galeria input[type=radio]:nth-of-type(6):checked ~ img:nth-of-type(6) {
    opacity: 1;
  }